<div class="admin_menu">
    <p class="project_logo">
        <img src="../../../../assets/images/logo.PNG" />
    </p>
    <div class="menu_listing">
        <div class="menu_list active_menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
        <div class="menu_list menu_home">
            <p>Home</p>
        </div>
    </div>
</div>

<div class="admin_header">
    <div class="menu_navigation">
        <img src="../../../../assets/images/navigation.svg">
    </div>
    <div class="search_section">
        <img src="../../../../assets/images/search.svg" />
        <input type="search" name="search" placeholder="Search Transactions, Invoices or help" />
    </div>
    <div class="profile_section">
        <p class="profile_list">
            <img src="../../../../assets/images/support_grey.svg" title="Support" alt="Support" />
        </p>
        <p class="profile_list">
            <img src="../../../../assets/images/chat.svg" title="Chat" alt="Chat" />
        </p>
        <p class="profile_list">
            <img src="../../../../assets/images/notification.svg" title="Notification" alt="Notification" />
        </p>
        <p class="user_name">
            Pallavi Chapla
        </p>
        <div class="user_profile_img">
            <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
        </div>
    </div>
</div>