.menu_navigation, .search_section, .profile_section, .profile_list, .user_profile, .user_name, .user_profile_img {
    display: inline-block;
    vertical-align: middle;
}
.user_profile_img {
    background: #556080 url("../../../../assets/images/user_profile.svg") no-repeat;
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-position: center;
    border-radius: 100%;
    border: 2px solid #556080;
    cursor: pointer;
    position: relative;
}
.user_profile_img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.profile_list img {
    width: 16px;
    height: auto;
}
.search_section input {
    border: 0;
    padding: 9px 9px 9px 25px;
    font-size: 13px;
    width: 100%;
}
.search_section img {
    width: 15px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 5px;
}
.search_section {
    position: relative;
    width: 260px;
}
.menu_navigation {
    padding: 11px;
    line-height: 0;
    cursor: pointer;
}
.admin_header p {
    margin: 0;
    padding: 7px 10px;
    cursor: pointer;
}
.profile_list {
    line-height: 0;
}
.profile_section {
    float: right;
}
.user_name {
    font-size: 13px;
    padding: 7px 15px 7px 10px !important;
    margin-right: 10px !important;
    border-left: 1px solid #F1F2F3;
    position: relative;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.admin_header .profile_list:last-child {
    border-right: 1px solid #F1F2F3;
}
.user_name:after {
    content: "";
    background: url("../../../../assets/images/down_arrow.svg") no-repeat;
    background-size: 100%;
    width: 7px;
    height: 7px;
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.user_profile_img:after {
    content: "";
    background: #05C38F;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: 9;
    border-radius: 100%;
}
.menu_list > a:before {
    content: "";
    margin: auto;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: 100% 100%;
    width: 35px;
    height: 15px;
    display: inline-block;
    background-position: center;
    position: absolute;
}
.menu_list > a:after {
    content: "";
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 100% 100%;
    width: 25px;
    height: 5px;
    display: inline-block;
    background-position: center;
    position: absolute;
}
.admin_header {
    border-bottom: 1px solid #E4E4E4;
    background: white;
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
    left: auto;
    right: 0;
    padding: 10px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.admin_menu {
    float: left;
    width: 220px;
    border-right: 1px solid #f1f2f3;
    background: #F8F8F8;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    min-height: calc(100vh - 56px);
}
.project_logo {
    margin: 0;
    padding: 12px;
    position: fixed;
    background: white;
    border-bottom: 1px solid #e4e4e4;
    width: 220px;
    border-right: 1px solid #f1f2f3;
    left: 0;
    top: 0;
    z-index: 1;
}
.project_logo img {
    height: 31px;
    width: auto;
}
.menu_list a {
    margin: 0;
    color: #212529 !important;
}
.menu_list {
    margin: 3px 0;
    background: #F5F5F5;
    position: relative;
    padding: 13px 25px 13px 35px;
    cursor: pointer;
    font-size: 13px;
    border-left: 4px solid #F5F5F5;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
}
.menu_list:hover {
    border-color: #05C38F;
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.11);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.active_menu_list {
    border-color: #05C38F;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #ececec;
}
.menu_list a span {
    transition: all .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: .3s linear;
}
.mobile_search, .mobile_search_section {
    display: none;
}
.admin_mini_menu {
    .admin_menu {
        width: 50px !important;
    }
    .menu_list a span {
        font-size: 0px;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
    .menu_list a:after {
        font-size: 0px;
    }
    .menu_list a:before {
        width: 46px !important;
    }
    .menu_list {
        padding: 13px;
    }
    .project_logo {
        width: 50px;
    }
    .project_logo img {
        visibility: hidden;
    }
    .admin_header {
        width: calc(100% - 50px);
    }
}
.mobile_search_section {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    z-index: 1;
    -webkit-animation: .2s ease-in-out mymove;
	animation: .2s ease-in-out mymove;
}
.mobile_search_section input {
    padding: 19px 19px 19px 45px !important;
    background: white;
}
.mobile_search_section .search_section {
    width: 100%;
}
.mobile_search_section .search_section img {
    margin: auto 15px !important;
}
@-webkit-keyframes mymove {
	from {
		width: 16%;
		left: 70%
	}
	to {
		width: 100%;
		left: 0
	}
}
@keyframes mymove {
	from {
		width: 16%;
		left: 70%
	}
	to {
		width: 100%;
		left: 0
	}
}

// ********** Responsive **********

@media screen and (max-width: 850px) {
    .desktop_search, .user_name {
        display: none;
    }
    .mobile_search {
        display: inline-block;
    }
    .admin_menu {
        position: absolute;
    }
    .admin_header {
        width: calc(100% - 50px) !important;
    }
}