<div class="parent">
	<!-- Banner Section -->
	<div id="HomeBanner" class="carousel slide home_banner" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="assets/images/banner.svg" alt="">
			</div>
			<div class="item">
				<img src="assets/images/banner.svg" alt="">
			</div>
			<div class="item">
				<img src="assets/images/banner.svg" alt="">
			</div>
		</div>
		<!-- Wrapper for slides -->
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#HomeBanner" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only"></span>
		</a>
		<a class="right carousel-control" href="#HomeBanner" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only"></span>
		</a>
		<!-- Left and right controls -->
	</div>
	<!-- Banner Section -->

	<!-- Featured Track Section -->
	<div class="featured_track_section">
		<div class="bold_heading">
			FEATURED TRACK
		</div>
		<div class="featured_track_list">
			<div class="track_box">
				<div class="track_thumbnail_image">
					<img src="assets/images/track_thumbnail_1.svg" class="track_thumbnail" alt="Track Thumbnail" />
					<div class="track_hover_section">
						<img src="assets/images/play.svg" title="Play" alt="Play Button" />
						<img src="assets/images/pause.svg" title="Pause" alt="Pause Button" style="display: none;" />
						<div class="track_details">
							<p class="track_owner_name">MOMOSE</p>
							<p class="track_price">$499</p>
						</div>
					</div>
				</div>
				<a class="track_discription" href="#">
					<span class="track_name">BRASTIE</span>
					<span class="track_divider"></span>
					<span class="add_to_card_track"><i class="la la-shopping-cart"></i></span>
				</a>
			</div>
			<div class="track_box">
				<div class="track_thumbnail_image">
					<img src="assets/images/track_thumbnail_2.svg" class="track_thumbnail" alt="Track Thumbnail" />
					<div class="track_hover_section">
						<img src="assets/images/play.svg" alt="Play Button" />
						<img src="assets/images/pause.svg" alt="Pause Button" style="display: none;" />
						<div class="track_details">
							<p class="track_owner_name">MOMOSE</p>
							<p class="track_price">$499</p>
						</div>
					</div>
				</div>
				<a class="track_discription" href="#">
					<span class="track_name">GLORY</span>
					<span class="track_divider"></span>
					<span class="add_to_card_track"><i class="la la-shopping-cart"></i></span>
				</a>
			</div>
			<div class="track_box">
				<div class="track_thumbnail_image">
					<img src="assets/images/track_thumbnail_3.svg" class="track_thumbnail" alt="Track Thumbnail" />
					<div class="track_hover_section">
						<img src="assets/images/play.svg" alt="Play Button" />
						<img src="assets/images/pause.svg" alt="Pause Button" style="display: none;" />
						<div class="track_details">
							<p class="track_owner_name">MOMOSE</p>
							<p class="track_price">$499</p>
						</div>
					</div>
				</div>
				<a class="track_discription" href="#">
					<span class="track_name">INVERT</span>
					<span class="track_divider"></span>
					<span class="add_to_card_track"><i class="la la-shopping-cart"></i></span>
				</a>
			</div>
			<div class="track_box">
				<div class="track_thumbnail_image">
					<img src="assets/images/track_thumbnail_4.svg" class="track_thumbnail" alt="Track Thumbnail" />
					<div class="track_hover_section">
						<img src="assets/images/play.svg" alt="Play Button" />
						<img src="assets/images/pause.svg" alt="Pause Button" style="display: none;" />
						<div class="track_details">
							<p class="track_owner_name">MOMOSE</p>
							<p class="track_price">$499</p>
						</div>
					</div>
				</div>
				<a class="track_discription" href="#">
					<span class="track_name">OLD SCHOOL</span>
					<span class="track_divider"></span>
					<span class="add_to_card_track"><i class="la la-shopping-cart"></i></span>
				</a>
			</div>
			<div class="track_box">
				<div class="track_thumbnail_image">
					<img src="assets/images/track_thumbnail_5.svg" class="track_thumbnail" alt="Track Thumbnail" />
					<div class="track_hover_section">
						<img src="assets/images/play.svg" alt="Play Button" />
						<img src="assets/images/pause.svg" alt="Pause Button" style="display: none;" />
						<div class="track_details">
							<p class="track_owner_name">MOMOSE</p>
							<p class="track_price">$499</p>
						</div>
					</div>
				</div>
				<a class="track_discription" href="#">
					<span class="track_name">RAIN</span>
					<span class="track_divider"></span>
					<span class="add_to_card_track"><i class="la la-shopping-cart"></i></span>
				</a>
			</div>
		</div>
		<div class="btn_section">
			<div class="default_btn">
				<span>GO TO SHOP</span>
				<span class="btn_icon"><img src="assets/images/banner_arrow.svg" alt="GO TO SHOP" /></span>
			</div>
		</div>
	</div>
	<!-- Featured Track Section -->

	<!-- Company Works Section -->
	<div class="companys_work_section">
		<div class="logo_designing_section">
			<div class="work_list">
				<img src="assets/images/logo_design.svg" alt="LOGO DESIGNING THUMBNAIL" title="LOGO DESIGNING">
				<div class="work_name">
					<p>LOGO DESIGNING</p>
				</div>
			</div>
		</div>
		<div class="development_section">
			<div class="work_list">
				<img src="assets/images/website_design.svg" alt="WEBSITE DESIGNING & DEVELOPMENT THUMBNAIL" title="WEBSITE DESIGNING & DEVELOPMENT">
				<div class="work_name">
					<p>WEBSITE DESIGNING & DEVELOPMENT</p>
				</div>
			</div>
			<div class="work_list">
				<img src="assets/images/album_art.svg" alt="ALBUM ART THUMBNAIL" title="ALBUM ART">
				<div class="work_name">
					<p>ALBUM ART</p>
				</div>
			</div>
		</div>
		<div class="artist_illustration_section">
			<div class="work_list">
				<img src="assets/images/artist_illustation.svg" alt="ART ILLUSTRATION THUMBNAIL" title="ART ILLUSTRATION">
				<div class="work_name">
					<p>ARTIST ILLUSTRATION</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Company Works Section -->

</div>