.product_detail_sec {
    background: #F1F1F1;
    padding: 30px;
}
.featuredProduct_sections {
    padding: 70px 0;
}
.product_detail_page .secondary_btn {
    border: 1px solid #05C38F;
}
.product_detail_page .global_btn:first-child {
    margin: 0 20px 5px 0;
}
.product_thumbnail_sec > img {
    width: 100%;
    cursor: pointer;
}
.product_thumbnail_sec {
    width: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.product_thumbnail_hover_sec {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00000036;
    text-align: center;
    margin: auto;
    bottom: 0;
    right: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: none;
}
.product_thumbnail_hover_sec img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.product_thumbnail_sec:hover .product_thumbnail_hover_sec {
    display: inline-block;
}
.product_details {
    width: calc(100% - 400px);
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 40px;
}
.product_details .product_name {
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}
.product_details .product_tagname {
    font-size: 25px;
    margin-bottom: 15px;
    color: #696969;
}
.files_included_heading {
    color: #696969;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}
.included_files {
    color: black;
    font-size: 14px;
    margin-bottom: 15px;
}
.product_more_details, .product_more_details li, .product_more_details p {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.product_more_details li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid #EDEDED;
    padding: 5px;
}
.product_more_details {
    width: 60%;
    margin-bottom: 15px;
}
.product_more_details li p {
    display: inline-block;
    vertical-align: middle;
}
.product_more_details li p:first-child {
    color: #9F9F9F;
    padding-right: 7px;
}
.product_more_details li p:last-child {
    color: #5F5F5F;
}

/* ********** Responsive ********** */

@media screen and (max-width: 1200px){
    .featuredProduct_sections {
        padding: 50px 0;
    }
    .product_details .product_name {
        font-size: 27px;
    }
    .product_details .product_tagname {
        font-size: 22px;
    }
}

@media screen and (max-width: 1100px){
    .product_thumbnail_sec {
        width: 250px;
    }
    .product_details {
        width: calc(100% - 250px);
        padding: 0 0 0 30px;
    }
    .product_thumbnail_hover_sec img {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 768px){
    .featuredProduct_sections {
        padding: 40px 0;
    }
    .product_thumbnail_sec {
        width: 200px;
    }
    .product_details {
        width: calc(100% - 200px);
        padding: 0 0 0 20px;
    }
    .product_details .product_name {
        font-size: 20px;
    }
    .product_details .product_tagname {
        font-size: 17px;
    }
    .files_included_heading {
        font-size: 15px;
    }
    .included_files {
        font-size: 13px;
    }
    .product_more_details, .product_more_details li, .product_more_details p {
        font-size: 14px;
    }
    .product_more_details {
        width: 100%;
    }
    .product_more_details li {
        width: 50%;
    }
    .product_detail_page .global_btn:first-child {
        margin: 0 10px 5px 0;
    }
    .product_thumbnail_hover_sec {
        display: inline-block;
    }
}

@media screen and (max-width: 600px){
    .product_thumbnail_sec {
        width: 100%;
    }
    .product_details {
        width: 100%;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 550px){
    .featuredProduct_sections {
        padding: 30px 0;
    }
    .product_detail_sec {
        padding: 20px;
    }
    .button_group {
        text-align: center;
    }
}