<div class="product_detail_page">
    <div class="product_detail_sec">
        <div class="product_thumbnail_sec">
            <img src="../../../assets/images/product_thumbnail.jpg" />
            <div class="product_thumbnail_hover_sec">
                <img src="../../../assets/images/play_video.svg" title="Play" />
            </div>
        </div>
        <div class="product_details">
            <h2 class="product_name">Summa (Kygo style)</h2>
            <h3 class="product_tagname">Modern future bass with powerfill drop</h3>
            <p class="files_included_heading">
                Files Included:
            </p>
            <p class="included_files">
                All Steams (.wav) | All MIDI Files | Mastered & Mixdown Version | 100% rights with contract
            </p>
            <ul class="product_more_details">
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
                <li>
                    <p>Artist :</p>
                    <p>Momos</p>
                </li>
            </ul>
            <div class="button_group">
                <a class="global_btn icon_btn secondary_btn">
                    <span>Add To Favourites</span>
                    <span class="add_to_favourites_icon btn_icon"></span>
                </a>
                <a class="global_btn icon_btn primary_btn">
                    <span>Add To Cart</span>
                    <span class="add_to_cart_icon btn_icon"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="featuredProduct_sections">
        <h2 class="global_heading">
            Related Track
        </h2>
        <div class="global_slider">
            <app-featuredProductSlider></app-featuredProductSlider>
        </div>
    </div>

</div>